<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sin</key>
	<dict>
		<key>sit</key>
		<array>
			<dict>
				<key>telnetServer</key>
				<string>sins00590051</string>
				<key>telnetPort</key>
				<string>21000</string>
			</dict>
		</array>
		<key>uat</key>
		<string></string>
		<key>prod</key>
		<string></string>
	</dict>
	<key>bps</key>
	<dict>
		<key>sit</key>
		<array>
			<dict>
				<key>telnetServer</key>
				<string>sins00590051</string>
				<key>telnetPort</key>
				<string>21000</string>
			</dict>
		</array>
		<key>uat</key>
		<string></string>
		<key>prod</key>
		<string></string>
	</dict>
</dict>
</plist>
